.container {
    width: 720px;
}

#nav-search {
    margin-top: 65px;
}

#content {
    margin-top: 0px;
}

.box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    opacity: 0.90;
}

#middle {
    padding: 35px 35px 10px 35px;
}

#middle .title h1 {
    font-family: "LuloCleanOne-Bold";
    font-size: 4em;
}

#middle .paragraf p {
    font-family: "HKGrotesk-Regular";
    font-size: 1.2em;
}

.round {
    height: 60px;
    width: 60px;
    margin: 30px;
    border-radius: 30px;
}
