.fullpage {
    margin: 0px;
    padding-top: 25px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.full-height {
    min-height: 90vh;
}

.width-80 {
    width: 80%;
}

.post {
    margin-bottom: 35px;
    line-height: 1;
}

.post > div {
    padding: 5px;
}

.post .trailer {
    max-height: 200px;
}

.divider {
    margin: -3px 0px 10px 0px;
    width: 99%;
    height: 2px;
    background-color: var(--color-blue);
}

body {
    font-family: "HKGrotesk-Regular";
}

#nav-search span {
    margin-bottom: 25px;
}

#clickable:hover {
    cursor: pointer;
}