.container {
    margin: 0 auto;
}

#filter {
    min-height: 350px;
    font-size: 1.5em;
}

#filter .btn {
    font-size: 1em;
}

#filter .select2-container--default .select2-selection--single {
    height: 80px;
}

#filter .select2-container--default .select2-selection--single {
    border: none;
    border-radius: 0;
}

#filter .select2-container .select2-selection--single .select2-selection__rendered {
    text-align: center;
    padding-top: 25px;
}

#filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-top: 25px;
}

#filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-right: 10px;
}

#filter button, #filter select {
    border: var(--color-blue);
}

#filter .btn {
    border-radius: 0;
    height: 80px;
    padding: 30px;
}

#filter .btn:disabled {
    opacity: 1;
}

#filter option p:hover {
    color: red;
}

.post {
    margin-left: 35px;
}

.post .trailer {
    padding: 15px;
}

.post .title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.post .tag {
    padding-bottom: 15px;
}

.badge.badge-outlined {
    background-color: transparent;
}

.badge.badge-outlined.badge-light {
    border: 1px solid transparent;
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px var(--color-blue);
}

.triangle-down {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-blue);
}
