
#header {
	margin-bottom: 40px;
}

.form-template {
	margin-top: 20px;
	font-family: "HKGrotesk-Regular";
	padding-top: 20px;
}

.form-setting {
	padding: 20px 0px;
}

.table-setting {
	margin: 40px 0;
}

.btn-wrapped{
	padding-right: 20px;
}

.btn-setting {
	padding: 20px 10px;
	margin: 10px 0px;
}
